---
layout: page
title: Colors
intro: Laborum duis id nulla exercitation sint fugiat cillum officia sunt non.
page_class: colors
---

{{#each colors}}
  <ul class="cf-colors cf-card">
    <li class="cf-colors__item">
      <div class="cf-card__heading">
        <h4 class="cf-card__title">{{@key}} Pallete</h4>
      </div>
      <ul class="cf-colors__container">
        {{#each this}}
          <li class="cf-colors__color">
            <span style="background-color: {{this}}"></span>
            <p><code>{{this}}</code></p>
            <p><code>${{@key}}</code></p>
          </li>
        {{/each}}
      </ul>
    </li>
  </ul>
{{/each}}
