---
layout: default
title: Introduction
intro: Cook delicious styleguides using Gulp!
page_class: home
---

<div class="cf-exemple">
  <div class="cf-exemple__demo">
    <div class="cf-card__heading">
      <h3 class="cf-card__title">Buttons</h3>
      <p class="cf-card__lead">Deserunt ipsum nostrud qui fugiat consequat aliquip. Enim culpa cupidatat amet ea consequat dolore commodo ea eiusmod
        cillum velit laboris ut nostrud. Fugiat ipsum mollit proident</p>
    </div>
    {{> components/btn }}
  </div>
  <pre data-src="{{base_url}}/demos/components/btn.hbs" class="language-html"></pre>
</div>

<div class="cf-exemple">
  <div class="cf-exemple__demo">
    <div class="cf-card__heading">
      <h3 class="cf-card__title">Alerts</h3>
      <p class="cf-card__lead">Do tempor velit anim proident. Fugiat ullamco adipisicing est dolor officia exercitation velit. Duis enim voluptate Lorem nisi ut magna in proident labore velit fugiat deserunt voluptate eu.</p>
    </div>
    {{> components/alerts }}
  </div>
  <pre data-src="{{base_url}}/demos/components/alerts.hbs" class="language-html"></pre>
</div>

<div class="cf-exemple">
  <div class="cf-exemple__demo">
    <div class="cf-card__heading">
      <h3 class="cf-card__title">Breadcrumb</h3>
      <p class="cf-card__lead">Lorem reprehenderit minim irure laboris laborum ipsum ullamco sint ea. Do ea aute sint aliqua proident eu tempor. In tempor quis id non sunt non velit.</p>
    </div>
    {{> components/breadcrumb }}
  </div>
  <pre data-src="{{base_url}}/demos/components/breadcrumb.hbs" class="language-html"></pre>
</div>
