---
layout: default
title: Introduction
intro: Cook delicious styleguides using Gulp!
page_class: home
---

<div class="cf-exemple">
  <div class="cf-exemple__demo">
    <h3>Buttons</h3>
    {{> components/btn }}
  </div>
  <pre data-src="{{base_url}}/demos/components/btn.hbs" class="language-html"></pre>
</div>

<div class="cf-exemple">
  <div class="cf-exemple__demo">
    <h3>Alerts</h3>
    {{> components/alerts }}
  </div>
  <pre data-src="{{base_url}}/demos/components/alerts.hbs" class="language-html"></pre>
</div>

<div class="cf-exemple">
  <div class="cf-exemple__demo">
    <h3>Breadcrumb</h3>
    {{> components/breadcrumb }}
  </div>
  <pre data-src="{{base_url}}/demos/components/breadcrumb.hbs" class="language-html"></pre>
</div>
