$white: #fff
$black: #000

// Gray pallete
$gray-lighten-2: #ebebeb
$gray-lighten-1: #e0e0e0
$gray: #bdbdbd
$gray-darken-1: #989898
$gray-darken-2: #757575

// Blue pallete
$blue-lighten-2: #03a9f4
$blue-lighten-1: #039be5
$blue: #0288d1
$blue-darken-1: #0277bd
$blue-darken-2: #01579b

$sidebar-color: $blue-lighten-1
$sidebar-border: 1px solid darken($sidebar-color, 6%)

$sidebar-width: 300px

// ==========  SHADOWS  ========== //

$z-1: 0 2px 4px rgba($black, .06), 0 4px 8px rgba($black, .12)
$z-2: 0 3px 12px rgba($black, .08), 0 6px 12px rgba($black, .15)
$z-3: 0 6px 12px rgba($black, .09), 0 12px 24px rgba($black, .2)
