@import 'prismjs/themes/prism'
@import 'variables'

@import url('//fonts.googleapis.com/css?family=Lato:300,400,700');

html,
body,
.cf-main
  width: 100%
  height: 100%

html
  font-size: 16px
  box-sizing: border-box

*
  box-sizing: inherit

body
  background-color: #f3f6f8
  font-family: 'Lato', Arial, Helvetica, sans-serif
  font-size: 1rem
  line-height: 1.5

a
  text-decoration: none

.z-1,
.z-2,
.z-3
  position: inherit

.z-1
  box-shadow: $z-1
  z-index: 1

.z-2
  box-shadow: $z-2
  z-index: 2

.z-3
  box-shadow: $z-3
  z-index: 3

.cf-sidebar
  border: $sidebar-border
  background-color: $sidebar-color
  height: 100%
  width: $sidebar-width
  position: fixed
  top: 0
  bottom: 0
  left: 0
  transform: translateX(0)

  &__inner
    overflow-y: auto
    width: 100%
    height: 100%

  &__heading
    padding: 4em 2em 2em
    text-align: center

    h2
      text-transform: uppercase
      font-size: 2.4rem
      color: #fff

      small
        display: block
        font-size: 60%
        font-weight: 300

.cf-content
  max-width: 1260px
  margin-left: auto
  margin-right: auto
  padding-left: $sidebar-width

.cf-page-heading
  padding: 4em 0 2em
  margin-bottom: 4em
  border-bottom: 1px solid $gray-lighten-1

  .cf-page-title
    color: $blue
    font-size: 3em

  .cf-page-intro
    color: $gray-darken-1
    font-size: 1.2em
    font-weight: 300

.cf-navbar
  margin: 1.2em 0
  padding: 1.2em 0

  &__nav
    list-style: none
    padding: 0
    margin: 0
    border-top: $sidebar-border

  &__nav-item
    border-bottom: $sidebar-border

    ul
      padding: 1.2em 0
      list-style: none
      margin: 0
      display: none
      background-color: darken($sidebar-color, 10%)

      a
        color: #fff
        display: block
        padding: .2em 3em

    &.is-active
      > a:after
        transform: rotate(180deg)
        top: 22px

      ul
        display: block

    > a
      display: block
      padding: 1.2em 3em
      color: darken(#fff, 10%)
      transition: .15s background-color ease-in-out, .15s color ease-in-out

      &:hover,
      &:focus,
      &:active
        color: #fff
        text-decoration: none
        background-color: darken($sidebar-color, 5%)

    &--accordion > a
      position: relative

      &:after
        position: absolute
        right: 2em
        top: 28px
        content: ''
        border-width: 6px
        border-style: solid
        border-right: 6px solid transparent
        border-color: #fff transparent transparent
        opacity: .75
        width: 0
        height: 0

.cf-card
  background-color: #fff
  border-radius: 3px
  margin: 0 0 30px
  @extend .z-1

  &__heading
    border-bottom: 1px solid rgba($gray-lighten-1, .75)
    padding-bottom: .5em
    margin: 0 0 1em

  &__title,
  &__lead
    margin: 0 0 .3em

  &__title
    text-transform: capitalize
    color: $gray-darken-2
    font-weight: 300

  &__lead
    font-weight: 300
    font-size: 1em
    line-height: 1.3

  &__inner
    padding: 30px

.cf-colors
  &, ul
    list-style: none
    padding: 0

  &__container
    display: flex
    flex-wrap: nowrap
    flex-direction: row

  &__item
    padding: 30px

  &__color
    flex: 1 1 25%

    p
      padding: .2em 0
      margin: 0

    span
      display: block
      height: 120px
      width: 100%
      margin-bottom: .5em
      text-align: center

    code
      color: $gray-darken-1

.cf-exemple
  @extend .cf-card
  margin-bottom: 2em

  code,
  pre
    font-size: .8rem
    color: $gray-darken-2
    text-shadow: none
    margin: 0

  pre
    background-color: rgba($gray-lighten-1, .2)
    border-top: 1px solid $gray-lighten-2
    border-bottom-right-radius: .2em
    border-bottom-left-radius: .2em
    padding: 30px

    code
      background: none

  &__demo
    padding: 30px
