<!DOCTYPE html>
<html class="{{htmlclass}}" lang="en">
  <head>
    {{#> head}}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Create styleguide like a boss using GulpJS</title>
    {{/head}}
    {{#> stylesheets}}
      <link href="/assets/stylesheets/main.css" rel="stylesheet">
    {{/stylesheets}}
  </head>
  <body class="{{bodyclass}}">
    <main>
      {{> main}}
    </main>
    {{#> javascripts}}
      <script src="/assets/javascripts/main.js"></script>
    {{/javascripts}}
  </body>
</html>
